/* === general styling === */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #233580;
  overflow-x: hidden;

  background: url(../images/background.png) no-repeat center bottom fixed;
  background-size: 100%;
}

/* ============== */
/* === HEADER === */
/*=============== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 0 4.8rem;
  box-shadow: 0 0.7rem 0 0 rgba(233, 236, 239, 0.4);
}

.main-nav-list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #283e94;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: underline;
  color: #1e2e6e;
}

.logo {
  height: 6.4rem;
}

.search-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
  background-color: #233580;
  padding: 1.8rem;
}

/* === mobile-menu === */
.btn-mobile-nav {
  border: none;
  cursor: pointer;
  background: none;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  background-color: #fff;
  border: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.icon-mobile-nav {
  --ionicon-stroke-width: 48px;
}

/* =================== */
/* === PHOTO-CARDS === */
/*==================== */
.section-cards {
  max-width: 150rem;
  margin: 3.2rem 32rem 6.4rem 4.8rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1.2rem;
}

.card-content {
  position: relative;
  width: 100%;
}

.card-content:nth-child(1) {
  height: 50rem;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

.card-content:nth-child(2) {
  height: 50rem;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.card-content:nth-child(3),
.card-content:nth-child(4) {
  grid-column: 3 / span 2;
}

/* === images in divs === */
.photo-box {
  z-index: 100;
  height: 100%;
  background-size: cover;
  padding: 2.4rem 3rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3.6rem;
}

.king-photo-box {
  background-image: linear-gradient(
      to left bottom,
      rgba(52, 58, 64, 0.05),
      rgba(52, 58, 64, 0.15)
    ),
    url("../images/king.jpg");
  background-position: 25% 20%;
}

.queen-photo-box {
  background-image: linear-gradient(
      to left bottom,
      rgba(52, 58, 64, 0.05),
      rgba(52, 58, 64, 0.15)
    ),
    url("../images/queen.png");
  background-position: 25% 20%;
}

.court-photo-box,
.diary-photo-box {
  background-color: #1e2e6e;
}

.links:link,
.links:visited {
  color: #fff;
  text-decoration: none;
  z-index: 100;
}

.card-link-about {
  font-size: 1.2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.card-link-more {
  font-family: "Cormorant", Garamond, Times, "Times New Roman", serif;
  font-size: 3.6rem;
  font-weight: 400;
}

/* hover images */
.card-content:hover {
  transform: translate(0%, -1rem);
  transition: all 0.3s;
}

.photo-box::before {
  position: absolute;
  z-index: 50;
  inset: 0;
  content: "";
  opacity: 0;
  transition: opacity 0.3s ease-in;
  background-size: cover;
  background-position: top;
}

.king-photo-box::before {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15) 10%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.48) 90%,
    rgba(0, 0, 0, 0.56) 95%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.queen-photo-box::before {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.15) 10%,
    rgba(0, 0, 0, 0.25) 75%,
    rgba(0, 0, 0, 0.48) 90%,
    rgba(0, 0, 0, 0.56) 95%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.photo-box:hover::before {
  opacity: 1;
}
